
        * {
            font-family: arial, sans-serif;
            margin: 0;
          }
          
          body,
          body > div {
            height: 100vh;
            width: 100vw;
          }
          
          #container {
            height: 100%;
            display: flex;
            flex-direction: column;
          }
          
          #container > div {
            display: flex;
          }
          
          #navbar {
            padding: 2em;
            justify-content: space-evenly;
            background-color: #ffebcd;
          }
          
          #main-section {
            flex-grow: 1;
          }
          
          #main-section > div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .home {
            background-color: #e1d8cc;

          }
          
          .red {
            background-color: #f45671;
            color: white;
          }
          .medRed {
            background-color: #b5273f;
            color: white;
          }
          .darkRed {
            background-color: #780619;
            color: white;
          }
          

          .blue {
            background-color: #4480e0;
            color: white;
          }
          .medBlue {
            background-color: #1a5bc3;
            color: white;
          }
          .darkBlue {
            background-color: #052559;
            color: white;
          }

          
          .orange {
            background-color: #ed8d33;
            color: white;
          }
          .medOrange {
            background-color: #be630e;
            color: white;
          }
          .darkOrange { 
            background-color: #994102;
            color: white;
          }
          
       